/***********FONTS**********/
$font-primary: 'Montserrat', sans-serif;
$font-size-default: 16px;
$font-size-title: 32px;

/***********COLORS*********/
$primary: #2F281E;
$secondary: #FF9900;
$white-default: #FFFF;
$border-color: #BCD0E5;


/***********WIDTHS**********/
$width: 1440px;
$content-width: 1200px;

body{
  width: $width;
  font-family: $font-primary ;
  font-size: $font-size-default;
  background-color: $white-default;
}

.container{
  width: $content-width;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;

  &--margin-s{
    margin-top: 0;
  }

  &--margin-m{
    margin-top: 69px;
  }

  &--block{
    display: block;
  }
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 69px;
  width: 100%;


}
.navmenu{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 352px;
}



.btn {
  padding: 13px 26px;
  text-align: center;
  border-radius: 4px;
  background-color: $secondary;
  color: $white-default;
  outline: none;
  border: none;

  &-sign-in{
    background-color: transparent;
    color: $primary;
    border: 1px solid $border-color;
  }
  &-sign-up-now{
    margin: 0 auto;
    margin-bottom: 70px;
    display: block;


  }
}

.overview{
  //display: table-cell;
  //width: 500px;
  //margin-top: 97px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.superpowers{
  height: 495px;
}

.cards{
  display: flex;
  justify-content: space-between;
  padding-bottom: 74px;
}

.cards__item{
  flex: 1 1 0;
}

h2{
  text-align: center;
  padding-bottom: 50px;
}

