/***********FONTS**********/
$font-primary: 'Montserrat', sans-serif;
$font-size-default: 16px;
$font-size-title: 32px;

/***********COLORS*********/
$primary: #2F281E;
$secondary: #FF9900;
$white-default: #FFFF;
$border-color: #BCD0E5;


/***********WIDTHS**********/
$width: 1440px;
$content-width: 1200px;