.container--footer{
  height: 120px;
}

.container--footer{
  padding-top: 70px;
  padding-bottom: 70px;
}

.container--footer__input{
  padding-bottom: 25px;
  padding-top: 25px;
}

.container--footer input{
  width: 340px;
  height: 50px;
}

