.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  //margin-bottom: 69px;
  width: 100%;
  padding-top: 26px;
  padding-bottom: 26px;

}
.navmenu{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 352px;
}
